<div id="poster">
  <img src="<%= @hash['Poster'] %>">
  <br>
</div>

<div id="details">
  <strong>Title:</strong> <%= @hash['Title'] %>
  <br>
  <strong>Year:</strong> <%= @hash['Year'] %>
  <br>
  <strong>Rated:</strong> <%= @hash['Rated'] %>
  <br>
  <strong>Released:</strong> <%= @hash['Released'] %>
  <br>
  <strong>Genre:</strong> <%= @hash['Genre'] %>
  <br>
  <strong>Plot:</strong> <%= @hash['Plot'] %>
</div>